* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;

}

h1 {
    color: #20819E;
    text-align: center;
    font-size: 20px;
}

h2 {
    color: #20819E;
    text-align: center;
    font-size: 16px;
}

body {
    background-image: linear-gradient(to right, #FFBF80, #EBA45E);

}

article {
    color: #402A01;
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
}