* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;

}

h1 {
    color: rgb(21, 72, 182);
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

body {
    background-color: rgb(1, 128, 11);

}

article {
    color: rgb(21, 72, 182);
}

main {
    background-color: rgb(206, 206, 31);
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}